@screen sm {
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portrait img {
        max-width: 90vw;
    }
    .portrait {
        margin: 8em auto;
    }
}
@screen lg {
    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        grid-row-gap: 3em;
    }

    .portrait {
        grid-row-end: span 2;
        margin: auto;
    }

    .portrait img {
        object-position: left;
        max-width: initial;
    }

    .landscape {
        grid-column-end: span 2;
    }
}