:root {
    --drop-height: -2vh;
    --disclosure-width: 50%;
}

/*
 var(--disclosure-width)
 */

@keyframes bounceIn {
    0% {
        transform:  translate(calc(50vw - var(--disclosure-width)), var(--drop-height)) scale(0.2);
        opacity: 0;
    }
    30% {
        opacity: 0.9;
    }
    60% {
        transform: translate(calc(50vw - var(--disclosure-width)), 0) scale(1.0) ;
        opacity: 1;
    }
    70% {
        transform: translate(calc(50vw - var(--disclosure-width)), 0) scale(0.9) ;
        opacity: 1;
    }
    80% {
        transform: translate(calc(50vw - var(--disclosure-width)), 0) scale(1.1) ;
        opacity: 1;
    }
    100% {
        transform: translate(calc(50vw - var(--disclosure-width)), 0) scale(1) ;
    }
}

.menu-tray {
    display: inline-block;
    position: fixed;
    bottom: 5em;
    left: 0;
    transform: translate(calc(50vw - var(--disclosure-width)), 0);
    will-change: transform;
    transition: all 0.5s ease-in-out;
}


@media screen and (max-width: 640px) {
    .stowed {
        display: none;
    }
}

@media screen and (min-width: 641px) {
    .stowed {
        transform: translate(-3em, -10em) rotateZ(-90deg);
    }
}
